<div class="contents">
  <div class="main-photo"></div>

  <div class="step-boxes">
    <div class="box-title"></div>
    <div class="box">box1</div>
    <div class="box">box2</div>
    <div class="box">box3</div>
  </div>

  <div class="genre"></div>
</div>
